
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color:#888;
    line-height:30px;
    font-size:10px
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:30px
}
.select2-container--default .select2-selection--single{
    background-color:#fff;
    border:1px solid #e8e8e8;
    border-radius:30px
}
.select2-container .select2-selection--single{
    height:30px
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,.select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px
}
.select2-container--open .select2-dropdown--below{
    margin-top:2px;
    border-top:1px solid #ccc;
    border-top-left-radius:5px;
    border-top-right-radius:5px
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border:1px solid #aaa;
    border-radius:30px
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,.select2-container--default.select2-container--open.select2-container--above .select2-selection--single{
    border-top-left-radius:30px;
    border-top-right-radius:30px
}
.form-group .bootstrap-select.btn-group,.form-horizontal .bootstrap-select.btn-group,.form-inline .bootstrap-select.btn-group{
    margin-bottom:2px
}
.select2-container--open .select2-dropdown--above{
    border-bottom:1px solid #ccc
}
.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
    border:1px solid #e8e8e8;
    border-radius:30px
}
.select2-container .select2-selection--multiple{
    padding:2px
}
.select2-container :focus{
    outline:0
}
.dtp > .dtp-content {
    max-height: 580px;
}

.form-group .input-group-addon, .input-group .input-group-addon {
    padding: 5px 0 10px 18px !important;
}

.input-group{
    height: 31px!important;
}

.form-control{
    height: 31px!important;
}

.btn-theme{
    color:#379c94!important;
    border-color:#379c94!important;

}

button.zmdi {
    font-size: 21px!important;
}
.transparent {
    background-color: transparent!important;
}

.timeover {
/*   //  background-color: rgba(255, 0, 0, .3);*/
  color: black; 
}