﻿@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700');

body.rtl {
    font-family: 'Cairo', sans-serif;
}

.rtl {
    direction: rtl;

    ul{
        padding: 0;
    }

    &.ls-closed{

        .sidebar {
            margin-right: -300px;
        }
    }

    &.overlay-open{
        .sidebar {
            margin-right: 0;
        }
    }

    &.ls-toggle-menu{
        .sidebar{
            margin-right: -300px;
        }
        section.content {
            margin-right: 0px;
        }
    }

    section.content {
        margin: 60px 250px 0px 0px;
    }

    .right-sidebar {
        left: -300px;

        &.open {
            left: 0;
            right: auto;
        }
    }

    .sidebar {
        right: 0;
        left: auto;
    }
}
/* top headre */
.rtl{
    .dropdown-menu{

        .header{
            text-align: center;
        }

        ul.menu{

            &.tasks{
                h4{
                    small {
                        float: left;
                    }
                }
            }

            .menu-info {
                margin-right: 10px;
                margin-left: 0;
                text-align: right;
            }

            li{
                a {
                    text-align: right;
                }
            }
        }
    }
    
    .navbar-nav{

        >li {
            float: right;

            >a {
                margin-left: 0;
            }              
        }
    }

    .navbar{

        .navbar-header {
            float: right;
            padding-right: 15px;
            padding-left: 0;
            .navbar-brand{
                margin-right:0px;;
            }
        }

        .navbar-right {
            float: left !important;
            .dropdown-menu {
                right: auto;
                left: 0;

                .footer {                    
                    text-align: center;
                }
            }
            .progress-container .progress .progress-value{
                left: 0;
                right: auto;
            }
        }
    
        .navbar-left {
            .dropdown-menu{
                left: auto;
                .menu{
                    li{
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }

        .dropdown-menu {
            &:before{
                left: 10px;
                right: auto;
            }
        }
    }
}
/* main menu Css */
.rtl{
    .sidebar{
        .menu{
            .list{                
                .header{
                    &:before{
                        left: auto;
                        right: 0;
                    }
                }
                .menu-toggle{
                    &:before, &:after{
                        left: 17px;
                        right: auto;
                    }
                }
                a{
                    span{
                        margin: 0  12px 0 0;
                    }
                }
                .ml-menu{
                    li{
                        a{
                            padding-right: 40px;
                            padding-left: 10px;                          
                            &::before{
                                content: '\f30f';
                                right: 14px;
                                left:auto;
                                transform: scale(-1,1);
                                -webkit-transform: scale(-1,1);
                                -ms-transform: scale(-1,1);
                            }
                        }
                    }
                }
            }
        }
    }
}
/* setting menu Css */
.rtl{
    .right-sidebar{        
        .right_chat{
            ul{
                .media{
                    .media-object{
                        margin-left: 10px;
                        margin-right: 0px;
                    }
                    .status{
                        right: 0;
                        left: auto;
                    }
                }
            }
        }

        #settings{
            .setting-list{
                li{
                    .switch{
                        left: 5px;
                        right: auto;
                    }
                }
            }
        }
    }
}
/* RTL Dashboard scss */
.rtl{

    .card{
        .header{

            h2{
                text-align: right;
            }
            .header-dropdown {
                right: auto;
                left: 12px;

                ul.dropdown-menu{
                    left: 0;
                    right: auto;
                }
            }
        }
        
    }

    .widget_2{

        li {
            border-left: 1px solid #eee;
            border-right: none;
            .text-right{
                text-align: left !important;
            }
            .text-small{
                font-size: 14px;
            }
        }
    }

    #line_chart {
        height: 375px !important;
    }

    .table{
        thead{
            tr{
                th, td {
                    text-align: right;
                }
            }
        }
    }
}
.rtl{
    .card{
        .header{
            h2::before{
                right: -20px;
                left: auto;
            }
        }
    }
    .progress-container{
        .progress{
            .progress-value{                
                right: auto;
                left: 6px;
            }
        }
    }
    .activity{
        li{
            a{
                i{
                    float: right;
                }
                .info{
                    margin-right: 50px;
                    margin-left:0px;
                }
            }
        }
    }
    .checkbox label, .radio label{
        padding-right: 35px;
        padding-left: 0px;
    }
    .checkbox{

        label{
            &:before, &:after{
                right: 0;
                left: auto;
            }
        }
    }
    .form-control{
        border-radius:0 30px 30px 0 !important;
        border-left: transparent !important;       
    }
    .input-group-addon{
        border-radius:30px 0 0 30px !important;
        border-right: transparent !important;
        padding: 10px 0px 10px 18px !important;
    }
    .team-info li+li {       
        z-index: 99;
        position: relative;
    }
}
@media screen and (max-width: 1169px) {
    .rtl{
        section.content {
            margin-right: 15px;
        }
        .navbar{
            .navbar-header{
                .navbar-brand{
                    margin-right: 30px;
                    margin-left: 10px;
                }
            }
        }        
    }

    .rtl.ls-closed .bars:after,
        .rtl.ls-closed .bars:before {
        right: 12px;
        left: auto;
    }

    .rtl .navbar>.container .navbar-brand,
        .rtl .navbar>.container-fluid .navbar-brand {
        margin-right: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .rtl.ls-closed .bars:after, .rtl.ls-closed .bars:before {
        margin-right: 0;
    }
}
